# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@endpoint.neon.tech/portfolio_v2?sslmode=require"

# NextAuth Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="s+NR28c9t1zUHN6N84f4BRqxCB/TzdyeppR044y6cRE="

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# GitHub Integration
GITHUB_USERNAME="LVNVoid"
GITHUB_TOKEN=""
